body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
header {
    position: fixed;
    top: 0;
    z-index: 2;
    height: 80px;
    border-bottom: 1px solid black;
    width: 100%;
    background-color: #191970;
    color: white;
}
header h1 {
    margin: auto;
    display: inline-block;
    padding: 20px 20px;
}
header ul {
    margin: auto;
    padding: 25px 20px;
    display: inline-block;
}
header li {
    font-size: 1.5em;
    display: inline-block;
    margin: 0px 50px;
}
@media only screen and (max-width: 1200px){
    header {
        font-size: 15px;
    }
    
    header li {
        font-size: 1.5em;
        display: inline-block;
        margin: 0px 10px;
    }
    
    }
    @media only screen and (max-width: 900px){
        header {
            font-size: 12px;
        }
        
        header li {
            font-size: 1.5em;
            display: inline-block;
            margin: 5px 10px;
        }

        header h1, header ul {
            margin: auto;
            padding: 5px;
            display: inline-block;
        }
        
        }
nav {
    float: right;
}
nav a {
    text-decoration: none;
    color: white;
}
.flexbox-center {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}
.flexbox-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:left;
}
.colorbox {
    margin: 20px;
    min-height: 100px;
    width: 20%;
    border: 1px solid black;
    text-align: center;
}
.fontbox {
    padding-left: 7px;
    margin: 20px 20px 20px 20px;
    min-height: 100px;
    min-width: 20%;
    background-color: white;
    font-size: 17px;
    border-left: 2px solid black;
}
#dominos-blue {
    background-color: #0b648f;
    color: white;
}
#fiverr-green {
    background-color: #00b22d;
    color: white;
}
#gitlab-orange {
    background-color: #fca326;
    color: white;
}
#javascript-yellow {
    background-color: #f7df1e;
    color: white;
}
#colors {
    margin: 95px auto 50px auto;
    width: 90%;
    border: 1px solid black;
    background-color: white;
}
.section {
    margin: 50px auto 50px auto;
    width: 90%;
    border: 1px solid black;
    background-color: white;
}
.title {
    width: 100%;
    border-bottom: 1px dotted black;
    padding:20px 0px;
    margin: 0px;
    text-align: center;
    text-decoration: underline;
}
.anchor {
    position: relative;
    left: 0px;
    top: -80px;
}
.font-label {
    font-size: 1.5rem;
}
.regular {
    font-style: normal;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: 700;
}
.roboto {
    font-family: Roboto, sans-serif; 
}
.pt-sans {
    font-family: PT Sans, sans-serif;
}
.rubik {
    font-family: Rubik, monospace;
}
.text-panel h1 {
    font-weight: 700;
    font-size: 32px;
    font-family: Roboto, sans-serif;
}
.text-panel h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: PT Sans, sans-serif;
}
.text-panel p {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif
}
.text-panel {
    margin: 20px;
}